$medium-breakpoint: 768px;
$large-breakpoint: 1200px;
$wide-breakpoint: 1400px;

$header-height: 2.5rem; // 40px
$side-width:  18rem; // 288px

$border-radius-control: .4rem;
$border-radius-object: .2rem;

$spacing-unit: 2rem;

$spacing-control: 1rem;
$spacing-object: .5rem;
$spacing-text: .25rem;

$header-object-size: 2rem;

$page-spacing-small: 2rem;
$page-spacing-medium: 4rem;
$page-spacing-large: 8rem;
$page-spacing-wide: 12rem;

$page-max-width: 72rem;
