<form class="c-search" action="https://www.google.com/search" target="_blank" onsubmit="this.as_sitesearch.value=document.domain;">
  <input id="db-searchbox" class="c-search__textbox" type="textbox" name="q" placeholder="google.com" />
  <input type="hidden" name="as_sitesearch" value="" />
  <button class="c-search__expand c-navbutton" type="button"><label for="db-searchbox"><i class="fas fa-search"></i></label></button>
  <button class="c-search__go c-navbutton" type="submit"><i class="fas fa-angle-right"></i></button>
</form>
