<form class="c-search" action="https://www.baidu.com/s" onsubmit="this.si.value=document.domain;" target="_blank">
  <input id="db-searchbox" class="c-search__textbox" type="textbox" name="wd" placeholder="baidu.com"  />
  <input type="hidden" name="si" value="" />
  <input type="hidden" name="ct" value="2097152" />
  <button class="c-search__expand c-navbutton" type="button"><label for="db-searchbox"><i class="fas fa-search"></i></label></button>
  <button class="c-search__go c-navbutton" type="submit"><i class="fas fa-angle-right"></i></button>
</form>
