<div class="c-sidebuttons__item" title="{{- include.text -}}">
  <a class="c-sidebuttons__link" href="{{- include.url -}}">
    {%- if include.icon -%}
      {%- include functions/get_icon.liquid icon=include.icon -%}
    {%- else -%}
      <div class="c-texticon">{{- include.text -}}</div>
    {%- endif -%}
  </a>
</div>
