.c-checkbutton {
  display: inline-block;
  user-select: none;
  margin: .4rem;
  padding: 0;

  > input {
    display: none;
  }

  > span {
    border-radius: $border-radius-object;
    padding: .4rem .8rem;
    margin: 0;
    border: 1px solid var(--db-border-color);
    color: var(--db-text-color-inactive);
    display: block;
    width: 100%;
    text-align: center;
  }

  &:hover > span {
    background-color: var(--db-highlight-color-hover);
    color: var(--db-text-color-active);
  }

  > input:checked + span {
    background-color: var(--db-highlight-color);
    border: 1px solid var(--db-border-color);
    color: var(--db-text-color-active);
  }

}
