.l-page {
  display: flex;
  flex-direction: row;
  border: 1px solid transparent;
  border-radius: $border-radius-control;
  margin: 0 auto;
  width: 100%;
  flex-wrap: wrap;

  &__header {
    width: 100%;
    position: relative;
  }

  &__side {
    order: 1;
    margin-bottom: 1.5rem;
    width: 100%;

    &:empty {
      display: none;
    }

    @media #{$wide-screen} {
      order: 3;
      width: 15rem;
      margin-bottom: 0;
      padding: 0 1.5rem;

      position: sticky;
      align-self: flex-start;
      top: 1em;
    }
  }

  &__content {
    order: 2;
    flex: 1;
    margin: 2rem 0;
    width: 100%;
  }

  &__footer {
    width: 100%;
  }

  + #{&} {
    margin-top: 4rem;

    &::before {
      content: '';
      height: 4px;
      width: 100%;
      border-top: 1px solid var(--db-border-color);
      border-bottom: 1px solid var(--db-border-color);
      margin-bottom: 2rem;
    }
  }
}



.c-title {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.5rem 0;
  margin-top: 2rem;
  margin-bottom: 1rem;

  &__tagline  {
    width: 100%;
    color: var(--db-text-color-inactive);
    margin-top: .5rem;
  }

  &__title {
    flex: 1;
    display: flex;
    align-items: flex-end;
    font-size: 3rem;
    font-weight: bold;
    flex: 1;
    color: var(--db-text-color-important);
  }

  &__right {
    color: var(--db-text-color-inactive);
  }

  &__divider {
    border: none;
    border-bottom: 1px solid var(--db-border-color);
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    width: 100%;
  }

  &__meta {
    flex: 1;
    color: var(--db-text-color-inactive);
  }

  &__indicator {
    color: var(--db-text-color-inactive);
  }

  &__breadcrumb {
    width: 100%;
    color: var(--db-text-color-inactive);
    margin-bottom: 1rem;
  }

  a:hover {
    text-decoration: underline;
  }
}

.c-breadcrumb {
  &__item {
    &::after {
      margin: 0 .5rem;
    }

    &:not(:last-child)::after {
      content: "/";
    }

    &:last-child::after {
      @include fontawesome-text;
      content: "\f105";
    }
  }
}


.c-meta {
  
  &__item {
    color: var(--db-text-color-inactive);

    &::before {
      @include fontawesome-text;
      font-size: 0.8rem;
      margin-right: 0.25rem;
    }

    &:not(:last-child)::after {
      content: "·";
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      opacity: 66%;
    }

    
    a:not(:last-child)::after {
      content: " ";
      display: inline-block;
      margin-right: .25rem;
    }

    &--time::before {
      content: "\f017";
    }

    &--authors::before {
      content: "\f4ff";
    }

    &--categories::before {
      content: "\f07c";
    }

    &--tags::before {
      content: "\f02c";
      font-weight: 600;
    }

    &--source::before {
      content: "\f121";
      font-weight: 600;
    }

    &--sticky::before {
      content: "\f08d";
      font-weight: 600;
    }

    &--featured::before {
      content: "\f058";
      font-weight: 600;
    }
    
  }
}

.c-thumbnail {
  width: 100%;
  text-align: center;
  margin-bottom: 2rem;

  img {
    max-width: 100%;
    margin: 0 auto;
  }
}
